* {
  margin: 0;
  padding: 0;
  vertical-align: middle;
}
.fa-spin {
  animation: fa-spin 2s infinite linear;
}
@keyframes fa-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
.home-page-wrapper {
  padding: 55px 10px;
  display: flex;
  flex-wrap: wrap;
  height: max-content;
  justify-content: space-between;
}
.home-page-wrapper .event-list-wrapper {
  position: absolute;
  top: 56px;
  left: 0;
  width: 25%;
  height: 92%;
  overflow-y: scroll;
  text-align: center;
  min-width: 300px;
}
.home-page-wrapper .event-list-wrapper .event-wrapper {
  display: flex;
  justify-content: space-around;
  margin: 1px auto;
  padding: 0;
  width: 94%;
  height: fit-content;
  background: #d1eaeb;
  border-radius: 4px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: all ease-in-out 0.4s;
}

.home-page-wrapper .event-list-wrapper .event-wrapper .event-content {
  font-size: 12px;
  max-width: 95%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.home-page-wrapper
  .event-list-wrapper
  .event-wrapper
  .event-content
  .event-content-title {
  font-size: 12px;
}
.home-page-wrapper
  .event-list-wrapper
  .event-wrapper
  .event-content
  .event-content-title
  .event-icon {
  font-size: 15px;
}
.home-page-wrapper
  .event-list-wrapper
  .event-wrapper
  .event-content
  .event-content-time {
  font-size: 10px;
}
.home-page-wrapper
  .event-list-wrapper
  .event-wrapper
  .event-content
  .event-content-repo {
  font-size: 10px;
  overflow: hidden;
}

.home-page-wrapper .event-list-wrapper .event-wrapper:hover {
  background: rgba(201, 21, 21, 0.2);
  transform: scale(0.98);
  box-shadow: 2px 2px 2px 2px gray;
  z-index: 4;
}
.home-page-wrapper .event-list-wrapper .event-wrapper:hover .event-reveal-icon {
  font-size: 20px;
  justify-self: center;
  padding-top: 10px;
}
.home-page-wrapper .event-list-wrapper .event-wrapper .event-reveal-icon {
  padding-top: 10px;
  font-size: 0;
}
.home-page-wrapper .event-list-wrapper .event-load {
  margin: 10px auto;
  width: fit-content;
  padding: 5px;
  background-color: #c91515;
  border-radius: 10px;
  margin-bottom: 11%;
}
.home-page-wrapper .event-details-wrapper {
  position: absolute;
  top: 60px;
  left: 25%;
  height: 91%;
  width: 75%;
  overflow-y: scroll;
}
.home-page-wrapper .event-details-wrapper .event-details {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 90%;
}
.home-page-wrapper .event-details-wrapper .event-details .common-details {
  text-align: center;
  display: block;
  margin: 0 auto;
  width: fit-content;
  background-color: #d1eaeb;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
}
.home-page-wrapper
  .event-details-wrapper
  .event-details
  .common-details
  .common-details-info {
  padding: 4px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.home-page-wrapper
  .event-details-wrapper
  .event-details
  .common-details
  .common-details-avatar
  img {
  height: 128px;
}
.home-page-wrapper .event-details-wrapper .event-details .content-wrapper {
  border: 2px groove black;
  border-radius: 10px;
  display: block;
  padding: 20px 0;
  width: 95%;
  margin: 10px auto;
  max-height: 300px;
  min-height: 50px;
  overflow-y: scroll;
}
.home-page-wrapper .event-details-wrapper .event-details .content-wrapper h3 {
  width: 10%;
  padding: 0 0 0 40%;
}
.home-page-wrapper
  .event-details-wrapper
  .event-details
  .content-wrapper
  details
  summary {
  cursor: pointer;
  width: max-content;
  border: none;
  outline: none;
}
.home-page-wrapper
  .event-details-wrapper
  .event-details
  .content-wrapper
  details
  p {
  display: flex;
  justify-content: space-between;
}
.home-page-wrapper
  .event-details-wrapper
  .event-details
  .content-wrapper
  .content-list {
  width: 95%;
  position: relative;
  top: 0;
  left: 15px;
  text-align: left;
  font-size: 14px;
}
.home-page-wrapper
  .event-details-wrapper
  .event-details
  .content-wrapper
  .content-list
  p {
  width: 100%;
  padding-top: 5px;
  position: relative;
  top: 0;
  left: 10px;
  list-style: none;
}
.home-page-wrapper
  .event-details-wrapper
  .event-details
  .content-wrapper
  .content-list
  p
  li {
  position: relative;
  left: 10px;
}
.home-page-wrapper
  .event-details-wrapper
  .event-details
  .event-specific-details {
  padding: 0 30px;
}
.home-page-wrapper
  .event-details-wrapper
  .event-details
  .event-specific-details
  .commit-diff {
  display: block;
  width: 5%;
}
.home-page-wrapper
  .event-details-wrapper
  .event-details
  .event-specific-details
  .external-link {
  width: 100%;
  padding: 20px 40%;
}
.home-page-wrapper
  .event-details-wrapper
  .event-details
  .event-specific-details
  .external-link
  a {
  width: 20%;
}
.home-page-wrapper .event-details-wrapper .event-details .other-details {
  display: flex;
  text-align: center;
  justify-content: space-around;
}
.home-page-wrapper
  .event-details-wrapper
  .event-details
  .other-details
  .repo-details {
  background-color: #d1eaeb;
  display: block;
  bottom: 36px;
  height: 120px;
  border-radius: 20px;
  width: 48%;
}
.home-page-wrapper
  .event-details-wrapper
  .event-details
  .other-details
  .repo-details
  .repo-details-general {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.home-page-wrapper
  .event-details-wrapper
  .event-details
  .other-details
  .repo-details
  .repo-details-general
  .repo-details-general-info {
  text-align: left;
}
.home-page-wrapper
  .event-details-wrapper
  .event-details
  .other-details
  .repo-details
  .repo-details-general
  .repo-details-general-info
  .repo-details-name
  a {
  text-align: left;
}
.home-page-wrapper
  .event-details-wrapper
  .event-details
  .other-details
  .repo-details
  .repo-details-general
  .repo-details-general-info
  .repo-details-owner
  a {
  text-align: left;
}
.home-page-wrapper
  .event-details-wrapper
  .event-details
  .other-details
  .repo-details
  .repo-details-general
  .repo-details-extra {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.home-page-wrapper
  .event-details-wrapper
  .event-details
  .other-details
  .repo-lang-data {
  overflow: hidden;
  background-color: #d1eaeb;
  border-radius: 20px;
  height: 120px;
  width: 48%;
}
.home-page-wrapper
  .event-details-wrapper
  .event-details
  .other-details
  .repo-lang-data
  .repo-lang-statistics {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.home-page-wrapper
  .event-details-wrapper
  .event-details
  .other-details
  .repo-lang-data
  .repo-lang-statistics
  div {
  padding: 0 20px;
}
.home-page-wrapper .event-details-wrapper .event-details .hide-details {
  position: fixed;
  background: red;
  top: 10%;
  height: 30px;
  width: 30px;
  right: 6%;
  font-size: 20px;
  outline: none;
  border: 0;
  border-radius: 50%;
  padding: 2px;
  cursor: pointer;
}
@media (max-width: 800px) {
  .home-page-wrapper .event-list-wrapper {
    width: 100%;
    padding-bottom: 60px;
    top: 48px;
  }
  .home-page-wrapper .event-details-wrapper {
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
  }
  .home-page-wrapper .event-details-wrapper .event-details {
    padding: 2%;
  }
  .home-page-wrapper
    .event-details-wrapper
    .event-details
    .event-specific-details
    .external-link {
    padding: 20px 0;
  }
  .home-page-wrapper
    .event-details-wrapper
    .event-details
    .event-specific-details
    .external-link
    a {
    display: block;
    margin: 0 auto;
  }
  .home-page-wrapper .event-details-wrapper .event-details .other-details {
    font-size: 24px;
    flex-direction: column;
    width: 100%;
  }
  .home-page-wrapper
    .event-details-wrapper
    .event-details
    .other-details
    .repo-details {
    width: 98%;
    height: fit-content;
    font-size: 24px;
    padding: 1%;
  }
  .home-page-wrapper
    .event-details-wrapper
    .event-details
    .other-details
    .repo-lang-data {
    margin-top: 10px;
    width: 100%;
    height: fit-content;
    min-height: 60px;
    justify-content: space-between;
  }
}
@media (max-width: 600px) {
  .home-page-wrapper .event-list-wrapper {
    width: 100%;
  }
}
