@import "common";

.layout-wrapper {
  display: block;
  width: 100%;
  margin: 0 auto;
  height: 4%;
  color: $text-color;
  // padding-top: 1%;

  .header-wrapper {
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: $theme-color-back;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid $theme-color-sec;
    height: 4%;
    .header-name {
      padding-top: 4px;
      margin-left: 30px;
      font-family: cursive;
      font-size: 24px;
      .header-name-full {
        font-size: 16px;
      }
    }
    .header-pages {
      margin-right: 30px;
      .header-page-single {
        font-size: 18px;
        margin-left: 10px;
        vertical-align: bottom;
        padding: 100px 8px 6px 8px;
        border-radius: 8px;
        transition: all linear 1s;

        &:hover {
          background-color: rgba($color: $theme-color-sec, $alpha: 0.5);
        }
        &:last-child {
          margin-right: 20px;
        }
      }
      .header-page-single-active {
        background-color: $theme-color-sec;
      }
    }
  }
  .footer-wrapper {
    background-color: $theme-color-back;
    z-index: 2;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 5%;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 0 auto;
    border-top: 2px solid $theme-color-sec;
    .footer-code {
      padding-top: 10px;
      padding-left: 20px;
      font-size: 14px;
    }
    .footer-visitor-count {
      padding-top: 8px;
    }
  }
}

@media (max-width: 650px) {
  .layout-wrapper {
    .header-wrapper {
      width: 100%;
      padding: 2% 0 2% 1%;
      overflow: hidden;
      .header-name {
        font-size: 20px;
      }
      .header-pages {
        .header-page-single {
          font-size: 24px;
          padding: 100px 10px 7px 10px;
          border-radius: 22px;
          margin-left: 20px;
          margin-bottom: 20px;
          .header-page-single-text {
            font-size: 0;
          }
          &:last-child {
            margin-right: -4px;
          }
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .layout-wrapper {
    .header-wrapper {
      width: 100%;
      .header-name {
        font-size: 22px;
        .header-name-full {
          font-size: 0;
        }
      }
      .header-pages {
        margin-top: 4px;
      }
    }
  }
}

@media (max-width: 930px) {
  .layout-wrapper {
    width: 100%;
    left: 0;
    .header-wrapper {
      width: 100%;
      .header-pages {
        margin-top: 4px;
      }
      .header-name {
        font-size: 18px;
      }
    }
    .footer-wrapper {
      width: 100%;
      left: 0;
    }
  }
}
@media (max-width: 420px) {
  .layout-wrapper {
    .header-wrapper {
      .header-pages {
        .header-page-single {
          padding-left: 2px;
          padding-right: 2px;
        }
      }
    }
  }
}
