@import "common";

.layout-wrapper {
  display: block;
  width: 90%;
  margin: 0 auto;
  padding-top: 1%;

  .header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .header-name {
      font-family: cursive;
      font-size: 28px;
    }
    .header-pages {
      .header-page-single {
        font-size: 18px;
        margin-left: 10px;
        vertical-align: bottom;
        padding: 8px;
        border-radius: 8px;
        transition: all linear 1s;

        &:hover {
          background-color: purple;
        }
      }
      .header-page-single-active {
        background-color: $theme-color-sec;
      }
    }
  }
}

@media (max-width: 600px) {
  .layout-wrapper {
    .header-wrapper {
      padding: 2%;
      .header-name {
        font-size: 20px;
      }
      .header-pages {
        .header-page-single {
          font-size: 24px;
          margin-left: 20px;
          .header-page-single-text {
            font-size: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .layout-wrapper {
    width: 100%;
    .header-wrapper {
      .header-name {
        font-size: 22px;
      }
      .header-pages {
        margin-top: 4px;
      }
    }
  }
}

@media (min-width: 900px) {
  .layout-wrapper {
    width: 80%;
  }
}
@media (max-width: 900px) {
  .layout-wrapper {
    .header-wrapper {
      .header-pages {
        margin-top: 4px;
      }
    }
  }
}
